@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #101215;
  font-family: 'Suse', sans-serif;
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  animation: brighten 2s ease-in-out;
}

.title {
  font-family: 'Suse', sans-serif;
  font-size: 4rem;
  text-align: center;
  margin-top: 15%;
  font-weight: 300;
  animation: fadeIn 2s ease-in-out;
}

.subtitle {
  text-align: center;
  text-transform: uppercase;
}

a[target='_blank'] {
  position: relative;
  margin-right: 15px;

  &::after {
    position: absolute;
    bottom: -1px;
    right: -15px;
    content: '\29C9';
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  66% {
    opacity: 0.66;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


@keyframes brighten {
  0% {
    filter: brightness(0);
  }
  66% {
    filter: brightness(0.9);
  }
  100% {
    filter: brightness(1);
  }
}